* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Glory", sans-serif;
    font-size: ;
    color: ;
    background-color: #FFE799;

}

html {
    font-size: 0.625em;
    scroll-behavior: smooth;
}

/* BACKGROUND VIDEO */

#site-bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.1;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

/* --- HEADER --- */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0 30px;
}

/* logo */

#site-logo {
    width: 400px;
    margin-bottom: 20px;
}

/* menu */

header nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5%;
    left: -100vw;
    transition: 0.2s;
}

header nav.show {
    left: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

header nav a {
    text-decoration: none;
    font-size: 5vh;
    padding: 10px;
    margin: auto 10px;
    color: #8D6E42;
    position: relative;
}

header nav a::after {
    display: block;
    content: "";
    position: absolute;
    border-bottom: 1px solid #8D6E42;
    top: 80%;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s;
}

header nav a:hover::after {
    width: 90%;
}

/* icons mobile version */

.fa-bars {
    font-size: 2rem;
    cursor: pointer;
}

.fa-xmark {
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s;
}

.fa-xmark:hover {
    transform: rotate(90deg)
}

/* --- MAIN --- */

main {
    padding: 0 20px;
}

main section {

    padding: 5%;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

main p {
    font-size: 2rem;
    text-align: justify;
    margin-bottom: 1.5rem;
}

/* Images containers */

.column {
    padding: 15px;
}

/* Clear floats after image containers */

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column:hover {
    opacity: 0.5;
    cursor: pointer;
    filter: grayscale(60%);
}

.donate-button {
    border: 1.5px solid #8D6E42;
    border-radius: 10px;
    margin: 0cm 0cm 20px;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 15px 20px;
    background: #fff;
    font-size: 17px;
    right: 1cm;
    top: 1cm;
    position: sticky;
    box-shadow: 5px 2px 2px rgba(122, 159, 177, 0.5);
}

button:hover {
    color: #212529;
    background: radial-gradient(905px at 4.9% 85.8%,
            rgb(255, 243, 242) 0.1%,
            rgb(255, 247, 220) 57.6%);
    opacity: 0.9;
    cursor: pointer;
}

.onClickTextOverImage {
    height: 400px;
    background-size: cover;
    margin: 4px;
    cursor: pointer;
    position: relative;
}

.onClickTextOverImage div {
    position: absolute;
    color: #fff;
    padding: 8px;
    padding-top: 20%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.onClickTextOverImage.show div {
    opacity: 1;
    visibility: visible;
    padding-top: 5%;
}

@media (min-width: 600px) {


    header nav {
        position: static;
        width: auto;
        height: auto;
        background-color: rgba(0, 0, 0, 0);
        padding: 20px;
    }

    header nav ul {
        flex-direction: row;
    }

    header nav a {
        font-size: 2.2rem;
    }

    .fa-bars,
    .fa-xmark {
        display: none;
    }

    /* --- MAIN --- */

    section{
        min-height: 100vh;
    }

    .column {
        float: left;
        width: 22.22%;
        padding: 15px;

    }

    .onClickTextOverImage.show div {
        padding-top: 40%;
    }

    .onClickTextOverImage {
        height: 200px
    }

}
