* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Glory", sans-serif !important;
    background-color: #FFE799;
}

html {
    font-size: 0.625em;
    scroll-behavior: smooth;
}

/* BACKGROUND VIDEO */

#site-bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.1;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

/* --- HEADER --- */

header {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0 30px;
    height: 30vh;
}

/* logo */

#site-logo {
    width: 400px;
    margin-bottom: 20px;
}

/* menu */

header nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5%;
    left: -100vw;
    transition: 0.2s;
}

header nav.show {
    left: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

header nav a {
    text-decoration: none;
    font-size: 5vh;
    padding: 10px;
    margin: auto 10px;
    color: #8D6E42;
    position: relative;
}

header nav a::after {
    display: block;
    content: "";
    position: absolute;
    border-bottom: 1px solid #8D6E42;
    top: 80%;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s;
}

header nav a:hover {
    text-decoration: none;
    color: #8D6E42
}

header nav a:hover::after {
    width: 90%;
}

/* icons mobile version */

.fa-bars {
    font-size: 2rem;
    cursor: pointer;
}

.fa-xmark {
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s;
}

.fa-xmark:hover {
    transform: rotate(90deg)
}

/* --- MAIN --- */

main {
    padding: 0 20px;
}

main section {
    padding: 20px 5%;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

h3 {
    font-size: 2rem;
}

main p {
    font-size: 2rem;
    text-align: justify;
    margin-bottom: 1.5rem;
}

#testimonials {
    height: 70vh;
    min-height: 70vh;
    position: relative;
}

#testimonials h1 {
    position: absolute;
    top: 20px;
    width: 90%;
    text-align: center;
    z-index: 2;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 0px 32px black;

}

#testimonials button {
    display: none !important;
}

#testimonials .testimonials,
.slick-list,
.slick-track {
    height: 100%;
}

#testimonials .testimonials div {
    position: relative;
}

#testimonials img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#testimonials .testimonials div p {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 0;
}

#about-us img {
    width: 100%;
}

/* Images containers */

#our-cats .column {
    padding: 15px;
}

/* Clear floats after image containers */

#our-cats .row::after {
    content: "";
    clear: both;
    display: table;
}

#our-cats .column:hover {
    opacity: 0.5;
    cursor: pointer;
    filter: grayscale(60%);
}

.donate-button {
    border: 1.5px solid #8D6E42;
    border-radius: 10px;
    margin: 0cm 0cm 20px;
    transition: background 250ms ease-in-out;
    letter-spacing: 1px;
    padding: 15px 20px;
    background: #fff;
    font-size: 17px;
    right: 1cm;
    top: 1cm;
    box-shadow: 5px 2px 2px rgba(122, 159, 177, 0.5);
}

.donate-button:hover {
    color: #212529;
    background: radial-gradient(905px at 4.9% 85.8%,
            rgb(255, 243, 242) 0.1%,
            rgb(255, 247, 220) 57.6%);
    opacity: 0.9;
    cursor: pointer;
}

#our-cats .onClickTextOverImage {
    height: 400px;
    background-size: cover;
    margin: 4px;
    cursor: pointer;
    position: relative;
}

#our-cats .onClickTextOverImage div {
    position: absolute;
    color: #fff;
    padding: 8px;
    padding-top: 20%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

#our-cats .onClickTextOverImage.show div {
    opacity: 1;
    visibility: visible;
    padding-top: 5%;
}

/* --- CONTACT --- */

.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.form__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.form__group-input {
    position: relative;
}

.form__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: 0.3s ease all;
}

.form__input:focus {
    border: 3px solid #552e5a;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.form__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    /*hide error msg in main screen*/
}

.form__input-error-active {
    display: block;
}

.form__validation-status {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.form__checkbox {
    margin-right: 10px;
}

#group__terms,
.form__msg-Displayed,
.form__group-btn-submit {
    grid-column: 1;
}

.form__msg-Displayed {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0px 15px;
    border-radius: 3px;
    display: none;
}

.form__msg-Displayed-active {
    display: block;
}

.form__msg-Displayed p {
    margin: 0;
}

.form__group-btn-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__btn {
    height: 45px;
    line-height: 45px;
    width: 100%;
    background: #552e5a;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease all;
}

.form__btn:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.form__msg-success {
    font-size: 14px;
    color: #119200;
    display: none;
}

.form__msg-success-active {
    display: block;
}

/*Validation styles*/

.form__group-right .form__validation-status {
    color: #1ed12d;
    opacity: 1;
}

.form__group-wrong .form__label {
    color: #bb2929;
}

.form__group-wrong .form__validation-status {
    color: #bb2929;
    opacity: 1;
}

.form__group-wrong .form__input {
    border: 3px solid #bb2929;
}



@media (min-width: 1000px) {


    header nav {
        position: static;
        width: auto;
        height: auto;
        background-color: rgba(0, 0, 0, 0);
        padding: 20px;
    }

    header nav ul {
        flex-direction: row;
    }

    header nav a {
        font-size: 2.2rem;
    }

    .fa-bars,
    .fa-xmark {
        display: none;
    }

    /* --- MAIN --- */

    section {
        min-height: 100vh;
    }

    #our-cats .column {
        float: left;
        width: 25%;
        padding: 15px;

    }

    #our-cats .onClickTextOverImage.show div {
        padding-top: 40%;
    }

    #our-cats .onClickTextOverImage {
        height: 200px
    }

    /* --- CONTACT --- */

    .form {
grid-template-columns: [first] 40% [line2] 20% [line3] 40% [col4-start];
    }

    #group__terms,
    .form__msg-Displayed{
        grid-column: span 2;
    }


    .form__btn {
        width: 30%;
    }

    form label {
        font-size: 2rem;
    }


    #group__message, .form__group-btn-submit {
        grid-column-start: 1;
        grid-column-end: col4-start;
    }

    #group__message input{
        padding: 20px 10px 150px 10px;
    }


}
